@font-face {
    font-family: "aurorapro";
    src: url("../assets/fonts/AURORA-PRO.otf") format("opentype"); 
}

body {
    font-family: leander;
    color: rgb(208, 208, 208);
    background-color: black;
}

h1 {
    color: white;
    margin: 5px;
    font-family: 'aurorapro';
    font-weight: normal;
    font-size: 75px;
}

h2 {
    color:white;
    margin: 0px;
    font-family: 'mmiuan';
    font-weight: normal;
    font-size: 32px;    
}

h3 {
    color:white;
    margin: 0px;
    font-family: 'mmiuan';
    font-weight: normal;
    font-size: 22px;    
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, 
        #ff0000, #ff7f00,#ffff00,#00ff00,#0000ff,#7f00ff
    );
}

a:hover {
    color: white;
}

a {
    color: rgb(208, 208, 208);
    text-decoration: none;
}

header {
    height: 170px;
}

nav {
    font-family: "mmiuan";
    font-size: 20px;
}

footer {
    padding: 20px;
}

.footer-text {
    margin: 2px;
}

.btn-link {
    font-family: "mmiuan";
    font-size: 20px;
}